@use "styles/reset";
@use "sass:color";
@use "styles/components/button";
@use "styles/components/input";
@use "styles/components/keybinding";
@use "styles/components/list";
@use "styles/components/select";

body {
  background-color: #171717;
  color: white;
  font-family: "Roboto", "Ubuntu", "sans-serif";
  font-weight: 300;
  user-select: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.card {
  background-color: #2b2b2b;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .35);

  > .headline {
    background-color: color.scale(black, $whiteness: +50%);
    display: flex;
    justify-content: space-between;
    letter-spacing: 1.5px;
    line-height: 24px;
    padding: 4px 8px;
    font-size: 18px;
  }

  .content {
    display: grid;
    gap: 4px;
    padding: 4px 8px;
  }
}

canvas {
  border-radius: 4px;
  outline: none;
  image-rendering: pixelated;
  transform-origin: top left;
}

html[data-theme="dark"] {
  --color: #fff;
  --bg-color: #171717;
  --surface-bg-color: #2b2b2b;
}

:root {
  --primary: blueviolet;
  --surface-bg-color: #fff;
}

i.material-icons {
  background-color: blueviolet;
  border-radius: 2px;
}

i.material-icons.pad {
  background-color: transparent;
  cursor: pointer;
  font-size: 72px;
}

.btn-row {
  display: flex;
  gap: 4px;
}

.pad {
  position: relative;
  height: 70px;
  width: 70px;

  &.pad-actions {
    max-width: 160px;
    text-align: center;
  }

  .material-icons {
    cursor: pointer;
    position: absolute;
    border-radius: 0 0 15px 15px;

    &:hover {
      color: black;
    }

    &.on {
      color: grey;
    }

    &.a {
      left: 50%;
    }
    &.b {
      top: 15%;
    }

    &.a, &.b {
      font-size: 12px;
      font-family: Roboto, Ubuntu, "sans-serif";
      padding: 4px;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 16px;
    }
  }
}
